@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar_whole {
  width: -webkit-fill-available;
  z-index: 9999999;
}
.right_side {
  margin: 50px;
}
.left_side {
  margin: 50px;
}

.-carousel-indicator {
  color: white;
  background-color: "white" !important;
}

@media only screen and (max-width: 600px) {
  .right_side {
    margin: 0px 13px !important;
  }
  .right_side iframe {
    width: 340px;
  }
  .left_side {
    margin: 0px 13px !important;
  }
  .navbar-brand {
    font-size: 17px;
  }
}
